/* Reset default styles */
body, ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif; /* Use Helvetica as the font */
}

/* Style the vertical navigation bar */
.vertical-nav {
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 10px;
  position: fixed;
  top: 10px; /* Increased space on top */
  left: 50px; /* Add space on the left */
  width: 15%;
  height: calc(100vh - 20px); /* Full viewport height with top and bottom space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll; /* Enable vertical scrolling for the navigation bar */
}

/* Style the caption within the navigation bar */
.caption {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

/* Style the separating line */
.separator {
  height: 2px;
  background-color: #999999;
}

.vertical-nav ul {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.vertical-nav li {
  margin-bottom: 10px; /* Increase vertical space between buttons */
  width: 100%;
}

.vertical-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  cursor: pointer; /* Add cursor pointer for clickable links */
}

.vertical-nav .nav-link:hover,
.vertical-nav .nav-link.active {
  background-color: #ccc;
  border-radius: 5px;
}

/* Add FontAwesome icons */
.vertical-nav img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* Style the content window */
.content-window {
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 10px;
  position: fixed;
  top: 10px; /* Increased space on top */
  left: 10%; /* Adjusted to accommodate the navigation bar width and space */
  width: 78%; /* Take up a larger portion of the screen */
  height: calc(100vh - 20px); /* Full viewport height with top and bottom space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide content overflow */
}

/* Style the content inside the window */
.content {
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .vertical-nav {
    width: 25%;
  }
  
  .content-window {
    left: 25%;
    width: 75%;
  }
}
